

// App

.app-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.app-grow {
    flex-grow: 1;
}
.app-container {
    padding-left: 20px;
    padding-right: 20px;
}

// Nav
.nav-info {
    background: $info;
}

.nav-sidebar {
    .navbar-nav {
        flex-direction: column;
    }
    .btn {
        font-size: 0.75em;
        width: 100%;
        padding: 6px;
        border-radius: 0;
        text-align: left;
        &:hover {
            background: $light;
        }
    }
    @include media-breakpoint-down(md) {
        .navbar-nav {
            flex-direction: row;
        }
        .nav-item {
            margin-right: 10px;
        }
        .btn {
            background: $light;
            font-size: 0.7em;
            padding: 4px;
            &:hover {
                background: $white;
            }
        }
    }
}
#navbarDropdown {
    color: white;
}


// Logo
.logo-image {
    width: 35px;
    padding-right: 10px;
}

.logo-bold {
    font-weight: bold;
}
.logo-light {
    font-weight: 100;
    color: $light;
}
.navbar-brand {
    font-size: 1.1rem;
}

.bg-info {
    color:blue;
}

.navbar-dark {
    background: #121212;
    padding: 4px 0px;
    border-bottom: 1px solid #707070;
   
}

